<br>
<div class="container">
	<div class="rows">
		<div class="col-md-8 col-md-offset-2">
			<h3>Average Payroll Per Appointment</h3>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success">Total Days: <%= total_days %></li>
				<li class="list-group-item list-group-item-success">Total Appointments: <%= total_appointments %></li>
				<li class="list-group-item list-group-item-success">Total Payroll of All Dock Workers: <%= total_payroll %></li>
				<li class="list-group-item list-group-item-success">Average Payroll per Appointment: <%= avg_payroll %></li>
			</ul>
			</ul>
		</div>
	</div>
</div>