<br><br>
<div class="container">
	<div class="rows">
		<div class="col-md-8 col-md-offset-2">
			<h3>Reports</h3>
			<ul class="list-group">
				<li class="list-group-item list-group-item-danger"><%= "#{dock_worker.first_name} #{dock_worker.last_name}" %></li>
				<li class="list-group-item list-group-item-danger"><%= "Report Days: #{totaldays}"%> </li>
				<li class="list-group-item list-group-item-danger">Total worked time: <%= timeslots.count %> hrs</li>
			</ul>
		</div>
	</div>
</div>
<br><br>
