<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Edit Vendor</h1>

			<%= render 'form', vendor: @vendor %>
a
			<%= link_to 'Back', vendors_path,class:"btn btn-danger" %>
		</div>
	</div>
</div>